* {
  box-sizing: border-box;
}

.board {
  width: 300px;
  height: 300px;
  margin: auto;
  border: 2px solid black;
}

.square {
  width: 98px;
  height: 98px;
  border: 1px solid black;
  float: left;
}
